.detail {
  .primary-image-container {
    width: 100%;
    background-color: white;
    img {
      object-fit: contain;
    }
  }
  .other-images {
    background-color: white;
    display: block;
    height: 80px;
    margin-bottom: 16px;
    .flex-wrapper {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      align-items: center;
      height: 100%;
      .secondary-image {
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        img {
          object-fit: contain;
          max-height: 80px;
        }
      }
    }
  }
  .details-container {
    padding: 8px 16px 8px 16px;
    background-color: white;
    .mini-header {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      padding: 0;
      margin-bottom: 8px;
      color: lighten($dark-grey, 40%);
    }
    p.description {
      color: $dark-grey
    }
    .row {
      border-top: 1px solid $light-grey;
      padding-top: 5px;
      padding-bottom: 5px;
      .left {
        width: 40%;
        float: left;
        font-weight: 600;
        font-size: 11px;
        color: darken($medium-grey, 15%);
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
      .right {
        width: 60%;
        float: right;
        text-transform: capitalize;
        font-size: 14px;
        .finish {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
