<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Foundations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filter">
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="search(myInput)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <div class="found-ations">
      <div class="search-result" *ngFor="let foundation of foundFoundations | async">
        {{foundation.brand}} {{foundation.name}}
      </div>
    </div>
  </div>
  <div class="foundations">
    <div *ngFor="let foundation of foundations" class="foundation" (click)="goToFoundation(foundation)">
      <div class="image-container">
        <img src={{foundation.image}}>
      </div>
      <div class="details-container">
        <h3 class="brand">{{foundation.brand}}</h3>
        <h2 class="name">{{foundation.name}}</h2>
        <div class="properties">
          <div class="coverage row clearfix">
            <div class="left">Coverage</div>
            <div class="right">{{foundation.coverage}}</div>
          </div>
          <div class="finishes row clearfix">
            <div class="left">Finish</div>
            <div class="right">
              <div *ngFor="let finish of foundation.finish">
                {{finish}}
              </div>
            </div>
          </div>
          <div class="price row clearfix">
            <div class="left">Price</div>
            <div class="right">{{foundation.price | currency:'USD':true}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
