.foundations {
  margin-top: 16px;
  .foundation {
    display: block;
    background-color: white;
    overflow: auto;
    height: 240px;
    overflow-y: hidden;
    .image-container {
      float: left;
      width: 40%;
      height: 100%;
      padding: 16px;
      &:hover {
        cursor: pointer;
      }
      img {
        height: 208px;
        object-fit: cover;
      }
    }
    .details-container {
      float: right;
      width: 60%;
      padding-left: 8px;
      h3.brand {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        padding: 0;
        margin-bottom: 8px;
        color: lighten($dark-grey, 40%);
      }
      h2.name {
        font-weight: 300;
        margin-top: 0px;
        font-size: 20px;
        transition: all 0.2s ease;
        &:hover {
          cursor: pointer;
          color: $purple;
        }
      }
      .properties {
        .row{
          border-top: 1px solid $light-grey;
          padding-top: 4px;
          padding-bottom: 4px;
          .left {
            width: 50%;
            float: left;
            font-weight: 600;
            font-size: 11px;
            color: darken($medium-grey, 15%);
            text-transform: uppercase;
            letter-spacing: 1.5px;
          }
          .right {
            width: 50%;
            float: right;
            font-size: 14px;
            text-transform: capitalize;
          }
        }
      }
    }
    margin-bottom: 16px;
    box-shadow: 0px 5px 5px lighten($medium-grey, 5%);
  }
}
